.dashboard{
    min-height: calc(100vh - 140px);
    margin: auto;
}
.side-bar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: gray !important;
    border-right: 1px solid rgb(218, 218, 218);
    overflow: hidden;
}
.side-bar-link,
.dropDown-link{
    width: 100%;
    color: rgb(126, 126, 126) !important;
    border-radius: 7px;
    transition: .3s;
}
.active {
    color: rgb(82, 82, 82) !important;
    /* transform: translateX(5px); */
    background-color: rgb(235, 235, 235) !important;
}
.side-bar-link:hover,
.dropDown-link:hover{
    color: rgb(82, 82, 82) !important;
    transform: translateX(5px);
    background-color: rgb(235, 235, 235) !important;
}
.dropDown-link-active{
    color: rgb(58, 58, 58) !important;
    /* transform: translateX(5px); */
    background-color: rgb(206, 206, 206) !important;
}
.dropDown-link-active:hover{
    color: rgb(58, 58, 58) !important;
    /* transform: translateX(5px); */
    background-color: rgb(206, 206, 206) !important;
}
/* .logOutButton{
    border: 1px solid red;
    position: absolute;
    bottom: 40px;
} */
.pageContainer{
    width: 100%;
}
.shadow{
    -webkit-box-shadow: 3px 3px 16px 2px rgba(102,102,102,0.64); 
    box-shadow: 3px 3px 16px 2px rgba(102,102,102,0.64);
}
.dropDownContainer{
    /* background-color: rgb(245, 245, 245); */
    transform: translateX(15px);
    border-left: 3px solid gray;
}

@media screen and (min-width: 480px) {
    .side-bar{
        width: 300px;
    }
    .pageContainer{
        width: calc(100% - 300px);
    }
  }
@media screen and (max-width: 500px) {
    .pageContainer {
        padding: 10px;
        background-color: lightgreen;
    }
  }