.dashboard{
    min-height: calc(100vh - 140px);
}
.side-bar{
    /* position: relative; */
    /* height: 100%; */
    flex: 1.5;
    background-color: rgb(255, 255, 255);
    color: gray !important;
    border-right: 1px solid rgb(218, 218, 218);
}
.side-bar-link{
    width: 100%;
    color: rgb(126, 126, 126) !important;
    border-radius: 7px;
    transition: .3s;
}
.active {
    color: rgb(82, 82, 82) !important;
    transform: translateX(5px);
    background-color: rgb(235, 235, 235) !important;
}
.side-bar-link:hover{
    color: rgb(82, 82, 82) !important;
    transform: translateX(5px);
    background-color: rgb(235, 235, 235) !important;
}
/* .logOutButton{
    border: 1px solid red;
    position: absolute;
    bottom: 40px;
} */
.pageContainer{
    flex: 4;
}
.shadow{
    -webkit-box-shadow: 3px 3px 16px 2px rgba(102,102,102,0.64); 
    box-shadow: 3px 3px 16px 2px rgba(102,102,102,0.64);
}