.upper-nav{
    height: 100px;
    background-color: rgb(170, 170, 170);
}
.nav-link{
    font-size: 1.2rem;
    margin-right: 30px;
    color: white;
}
.nav-link-secondary{
    font-size: 1rem;
    color: rgb(226, 226, 226);
}
.nav-link-secondary:hover{
    color:white;
}