.default-color{
  color: #FDB531;
}
.default-link{
  text-decoration: none;
  transition: .3s;
}
.default-link:hover{
  color: #FDB531;
}
.inline-text-link{
  cursor: pointer;
  color: rgb(0, 110, 255);
  width: fit-content;
}
.inline-text-link:hover{
  text-decoration: underline;
  color: rgb(16, 109, 172);
}